{% extends "base.html" %}
{% block app_content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ user.avatar(128) }}" alt="avatar" class="img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            {{ user.username }}</h4>
                        <p>
                            Name: {{ user.last_name }}, {{ user.first_name }}
                            <br />
                            Zuletzt gesehen:
                            {% if user.last_seen == None %}
                              Unbekannt
                            {% else %}
                              {{ user.last_seen }}
                            {% endif %}
                            <br />
                            {% if user.level == "teacher" %}
                              Lehrer
                                {% if user.class == "None" %}
                                {% else %}
                                 der Klasse {{ user.school_class }}
                                {% endif %}
                              <br>
                            {% elif user.level == "pupil" %}
                              Klasse: {{ user.school_class }}
                              <br>
                            {% elif user.level == "secretary" %}
                              Sekretariat
                              <br>
                            {% elif user.level == "headmaster" %}
                              Schulleitung
                              <br>
                            {% else %}
                              {{ user.level_specific }}
                              <br>
                            {% endif %}
                            {% if not user.description %}
                            {% else %}
                              {{ user.description }}
                            {% endif %}

{# this only is visible if you are in the group admin #}
{% if current_user.logged_level == "admin" %}
<p>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profil bearbeiten
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/admin/edit/{{ user.username }}">Profil bearbeiten</a>
      <a class="dropdown-item" href="/admin/delete/{{ user.username }}">Profil löschen</a>
      <a class="dropdown-item" href="/admin/deactivate/{{ user.username }}">Profil archivieren</a>
    </div>
  </div>
</p>
{% endif %}
{% endblock %}
